{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="mx-auto my-auto alert alert-{{ category }}">
        <span>{{message}}</span>
        <button class="btn" onclick="this.parentElement.style.display='none';">&times;</button>
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}


{% if error %}
  <div class="mx-auto my-auto alert alert-danger">
    <span>{{error}}</span>
    <button class="btn" onclick="this.parentElement.style.display='none';">&times;</button>
  </div>
{% endif %}
