{% extends 'layout.html' %}
{% set active_page='home' %}

{% block heading %}
  Book Reviews
{% endblock %}

{% block body %}
<section class="books-display mx-auto">

  <div class="container justify-content-center pt-5 mx-auto">
    <div class="row pt-3 mx-auto">

      <div class="col-lg-3 col-md-4 col-sm-6">
        <a href="/books/0061120081">
          <div class="card mb-3">
            <img src="static/css/images/book1.jpg" alt="" height="300px">
            <div class="card-img-overlay ">
              <h5 class="card-title">To Kill A Mockingbird</h5>
              <div class="card-text">
                <small class="text-muted">Harper Lee</small>
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="col-lg-3 col-md-4 col-sm-6">
        <a href="/books/0618640150">
          <div class="card mb-3">
            <img src="static/css/images/book2.jpg" alt="" height="300px">
            <div class="card-img-overlay ">
              <h5 class="card-title">The Lord Of he Rings</h5>
              <div class="card-text">
                <small class="text-muted">J.R.R. Tolkien</small>
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="col-lg-3 col-md-4 col-sm-6">
        <a href="/books/1416524304">
        <div class="card mb-3">
          <img src="static/css/images/book3.jpg" alt="" height="300px">
          <div class="card-img-overlay ">
            <h5 class="card-title">Carrie</h5>
            <div class="card-text">
              <small class="text-muted">Stephen King</small>
            </div>
          </div>
        </div>
        </a>
      </div>

      <div class="col-lg-3 col-md-4 col-sm-6">
        <a href="/books/0743223136">
        <div class="card mb-3">
          <img src="static/css/images/book4.jpg" alt="" height="300px">
          <div class="card-img-overlay ">
            <h5 class="card-title">John Adams</h5>
            <div class="card-text">
              <small class="text-muted">David McCullough</small>
            </div>
          </div>
        </div>
        </a>
      </div>

    <!-- </div> -->

    <!-- <div class="row pt-3 mx-auto"> -->

      <div class="col-lg-3 col-md-4 col-sm-6">
        <a href="/books/0679745580">
        <div class="card mb-3">
          <img src="static/css/images/book5.jpg" alt="" height="300px">
          <div class="card-img-overlay ">
            <h5 class="card-title">In Cold Blood</h5>
            <div class="card-text">
              <small class="text-muted">Truman Capote</small>
            </div>
          </div>
        </div>
        </a>
      </div>

      <div class="col-lg-3 col-md-4 col-sm-6">
        <a href="/books/0571212921">
        <div class="card mb-3">
          <img src="static/css/images/book6.jpg" alt="" height="300px">
          <div class="card-img-overlay ">
            <h5 class="card-title">A Beautiful Mind</h5>
            <div class="card-text">
              <small class="text-muted">Sylvia Nasar</small>
            </div>
          </div>
        </div>
        </a>
      </div>

      <div class="col-lg-3 col-md-4 col-sm-6">
        <a href="/books/0684833395">
        <div class="card mb-3">
          <img src="static/css/images/book7.jpg" alt="" height="300px">
          <div class="card-img-overlay ">
            <h5 class="card-title">Catch-22</h5>
            <div class="card-text">
              <small class="text-muted">Joseph Heller</small>
            </div>
          </div>
        </div>
        </a>
      </div>

      <div class="col-lg-3 col-md-4 col-sm-6">
        <a href="/books/0446675539">
        <div class="card mb-3">
          <img src="static/css/images/book8.jpg" alt="" height="300px">
          <div class="card-img-overlay ">
            <h5 class="card-title">Gone With the Wind</h5>
            <div class="card-text">
              <small class="text-muted">Margaret Mitchell</small>
            </div>
          </div>
        </div>
        </a>
      </div>

      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="card mb-3 book-9">
          <img src="static/css/images/book9.jpg" alt="" height="300px">
          <div class="card-img-overlay">
            <h5 class="card-title">Beloved</h5>
            <div class="card-text">
              <small class="text-muted">Toni Morrison</small>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

</section>

{% endblock %}
