{% extends 'layout.html' %}
{% set active_page = "login" %}


{% block heading %}
  Login
{% endblock %}

{% block body %}
  <section class="login">

    <div class="container wrapper">
      <div class="card card-3">
        <div class="card-heading"></div>
        <div class="card-body">
          <h3 class="display-5">Login</h3>
            <form class="form_style" method="POST">

              <div class="input-group">
                <input type="text" name="username" class="form-control" value="" placeholder="Username">
              </div>

              <div class="input-group">
                <input type="password" name="password" class="form-control" value="" placeholder="Password">
              </div>

              <div class="container text-left">
                <p><input type="submit" class="btn btn-rounded btn-style" value="Submit"></p>
              </div>
            </form>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
